#input {
    width:90%;
    margin-right: 20px;
    border: none;
    background: #3797EF;
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
 